---
import crypto from "../images/crypto.jpg";
import cart from "../images/cart.jpg";
import invoice from "../images/invoice.jpg";
import todo from "../images/todo.jpg";
import movie from "../images/movie.jpg";
import vueRecipe from "../images/vue-recipe.jpg";



const projects = [
  {
    name: "Recipe Finder",
    techStack: "Vue.js, Axios, Bootstrap, Public API",
    url: "https://vue-recipe-omega.vercel.app/",
    github: "https://github.com/solankikeyur/vue-recipe",
    image: vueRecipe
  },
  {
    name: "Crypto App",
    techStack: "ReactJS, Axios, Chakra UI",
    url: "https://crypto-eta-nine.vercel.app/",
    github: "https://github.com/solankikeyur/react-project-three",
    image: crypto,
  },
  {
    name: "Redux Cart",
    techStack: "ReactJS, Axios, redux-toolkit, Bootstrap",
    url: "https://project-four-chi.vercel.app/",
    github: "https://github.com/solankikeyur/react-project-four",
    image: cart,
  },
  {
    name: "Nuxt Todo",
    techStack: "Vue 3, Nuxt 3, Pinia",
    url: "https://grand-cupcake-c0c18f.netlify.app/",
    github: "https://github.com/solankikeyur/nuxt-todo-app",
    image: todo
  },
  {
    name: "Movie Vue",
    techStack: "Vue 3, Movie DB API",
    url: "https://movie-vue-inky.vercel.app/",
    github: "https://github.com/solankikeyur/movie-vue",
    image: movie
  },
  {
    name: "Invoice Creator",
    techStack: "ReactJS Frontend and Laravel API",
    github: "https://github.com/solankikeyur/invoicee",
    laravelGithub : "https://github.com/solankikeyur/invoicee-api",
    image: invoice,
  },
];
---
<div id="portfolio" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="wow bounce">Some Project(s)</h2>
      </div>
      {
        projects.map((project) => (
          <div class="col-12 col-md-4 col-lg-4 wow fadeIn" data-wow-delay="0.6s">
            <div class="portfolio-thumb">
              <img
                src={project.image}
                class="img-responsive"
                alt="portfolio img"
                style="height: 240px"
              />
              <div class="portfolio-overlay">
                <h4>{project.name}</h4>
                <h5>Tech Stack: {project.techStack}</h5>
                {project.url && (
                  <h5>
                    <a href={project.url} target="_blank" style="color: white">
                      Open App
                    </a>
                  </h5>
                )}
                { project.laravelGithub && (
                  <h5>
                  <a
                    href={project.laravelGithub}
                    target="_blank"
                    style="color: white"
                  >
                    Laravel Github Link
                  </a>
                </h5>
                ) }
                <h5>
                  <a
                    href={project.github}
                    target="_blank"
                    style="color: white"
                  >
                    Github Link
                  </a>
                </h5>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
  <!-- end portfolio -->
</div>
